%div{:id => "header-logo"}	
	%div{:class => "logo"}
		= link_to image_tag(''), home_path	
		%a{:id => "header-title"}
			%span Take
			%span This
	%div{:class => 'punchline'} ...it's dangerous to go alone.

%div{:id => "main-controls"}
	%div{:class => "main-control left"}
		%div{:class => "control-link"}
			= link_to image_tag(""), new_article_path 
		%span b
	%div{:class => "main-control right"}
		%div{:class => "control-link"}
			= link_to image_tag(""), articles_path 
		%span a
%div{:id => "header-right"}
	%div{:id => "connect-links"}
		%a{:class => 'show-panel'} Sign in 
		%a{:class => 'show-panel'} Register
