- @articles.each do |game_title, articles|
  .game= game_title 
  .articles
    - articles.each do |article|
      .article_thumb
        = link_to article.title, article
        .author= "by #{article.author.name}"