/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*
 ** RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 
 * HEADER
*/

#header {
	position: relative;
	overflow: hidden;
	height:100px;
	width: auto;
	border: 1px green solid;
	z-index:10;
	background-color:red;
}

#header-logo {
	float: left;
	border: 1px black solid;
	height:100%;
	width: 200px;
}

#header-logo .logo {
	overflow: hidden;
}

#header-logo .logo img {
	float: left;
	width: 75px;
	height: 75px;
}


#header-title {
	overflow: hidden;
}

#header-title span{
	display: block;
	font-size: 20px;
}

#header-logo .punchline {
	font-style: italic;
}


#main-controls {
	position:absolute;
	bottom: 0;
	left: 50%;
	width:120px;
	overflow: hidden;
	margin-left: -60px;
}

#main-controls .main-control {
	text-align:center;
}

#main-controls .control-link {
	border: 1px red solid;
	width: 45px;
	height: 60px;
}

#main-controls .left {
	float:left;
}

#main-controls .right {
	float:right;
}

#header-right {
	float: right;
	border: 1px red solid;
	height: 100%;
	position: relative;
	width:120px;
}

#connect-links {
	position:absolute;
	bottom:0;
}

/*
 *	PROFILE PANNEL
*/

#profile-panel {
	width:100%;
	height:0px;
	z-index:10;
	background-color:red;
}

#content {
	position:absolute;
	top:100px;
	z-index:0;
	width: 100%;
}